# 13. Konversi nilai numerik ke dalam kategori pada Data Frame

In [1]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [7]:
#Data Frame Prep
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1,99, size=(n_rows, n_cols)),
                 columns=cols)

df

   usia
0    89
1    73
2     3
3    80
4    86
5     7
6    77
7    50
8    77
9    87

# Pengelompokan nilai numerik ke dalam bebearap kategori menggunakan cut()

In [11]:
df['Kelompok usia'] = pd.cut(df['usia'],
                            bins= [0,18,65,99],
                            labels=['anak', 'dewasa', 'manula'])
#anak: 0-18
#dewasa: 18-65
#manula: 65-99
df

   usia Kelompok usia
0    89        manula
1    73        manula
2     3          anak
3    80        manula
4    86        manula
5     7          anak
6    77        manula
7    50        dewasa
8    77        manula
9    87        manula