# Pandas Week 2

# 5. Membalik urutan baris dan kolom pada Data Frame

In [ ]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

In [2]:
#Data Frame Prep
n_rows= 5
n_cols=5
cols= tuple('ABCDE')
df=pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)),
                columns=cols)
df

   A  B  C  D  E
0  3  4  2  5  1
1  1  5  8  5  7
2  1  8  8  7  9
3  8  8  2  1  6
4  7  7  4  4  2

# Membalik Urutan Kolom

In [4]:
df.loc[:,::-1]
#bagian pertama mengatur baris (:(bila tidak ada angka pada sebelum dan sesudah titik dua(:) berarti kita menyertakan seluruh baris ))
#bagian kedua mengatur kolom (::-1(sama seperti bagian pertama hanya saja -1 digunakan untuk membalik urutan))

   E  D  C  B  A
0  1  5  2  4  3
1  7  5  8  5  1
2  9  7  8  8  1
3  6  1  2  8  8
4  2  4  4  7  7

# Membalik Urutan Baris

In [6]:
df.loc[::-1]#versi penyingkatan
#df.loc[::-1]--> Versi lengkap
#tidak perlu seperti membalik kolom karena bagian mengatur baris merupakan ruas pertama

   A  B  C  D  E
4  7  7  4  4  2
3  8  8  2  1  6
2  1  8  8  7  9
1  1  5  8  5  7
0  3  4  2  5  1