# Pandas Week 14

# 53. Membuat Kategori Baru Berdasarkan Threshold

In [48]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

1.1.3
1.1.3

## Persiapan Data Frame

In [49]:
d={'hobi':['jogging', 'mancing', 'renang', 'mancing', 'mancing', 'baca', 'baca', 'mancing', 'fotograsi', 'mancing', 'camping']}

df=pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

# Membuat kategori baru berdasarkan threhold (ambang batas)

In [50]:
df['hobi'].value_counts()#melihat banyak kemunculan suatu data

mancing      5
baca         2
camping      1
renang       1
fotograsi    1
jogging      1
Name: hobi, dtype: int64

In [51]:
persentase= df['hobi'].value_counts(normalize=True)#melihat banyak kemunculan suatu data dalam bentuk persentase
persentase

mancing      0.454545
baca         0.181818
camping      0.090909
renang       0.090909
fotograsi    0.090909
jogging      0.090909
Name: hobi, dtype: float64

In [52]:
#cara untuk menentukan kategori baru berdasarkan threshold
threshold=0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['camping', 'renang', 'fotograsi', 'jogging'], dtype='object')

In [53]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')#mengganti nama hobi_lain menjadi lainnya
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [54]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64

# 54. Menyimpan Data Frame Sebagai CSV

In [55]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

1.1.3
1.1.3

## Persiapan Data Frame

In [56]:
data= {'nama':['Nate', 'Regis', 'Rhena', 'Geralt'],
      'jenis_kelamin':['L','L','P','L'],
      'usia': [23,21,22,25]}

df= pd.DataFrame(data)
df

     nama jenis_kelamin  usia
0    Nate             L    23
1   Regis             L    21
2   Rhena             P    22
3  Geralt             L    25

# Menyimpan Data Frame sebagai file CSV

In [57]:
df.to_csv('data_peserta.csv')

In [58]:
df.to_csv('data_peserta.csv', index= False)
df=pd.read_csv('data_peserta.csv')
df

     nama jenis_kelamin  usia
0    Nate             L    23
1   Regis             L    21
2   Rhena             P    22
3  Geralt             L    25

# 55. Menghitung Jumlah Baris Berdasarkan Kriteria Tertentu

In [59]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

1.1.3
1.1.3

## Persiapan Data Frame

In [60]:
n_rows= 10
n_cols= 5
cols= tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
               columns=cols)
df

   A  B  C  D  E
0  6  6  3  8  4
1  1  3  2  1  6
2  5  1  8  9  1
3  8  5  4  3  8
4  5  5  5  5  4
5  9  8  8  3  5
6  7  7  8  3  9
7  5  1  4  4  6
8  4  8  5  9  1
9  3  7  8  4  7

# Menghitung jumlah baris menurut kriteria tertentu

In [61]:
(df['A'] < 5).sum() #menghitung jumlah baris yang nilai kolom A nya lebih kecil 5

3

In [62]:
(df['A'] < 5).mean()#menghitung rata-rta baris terhadap seluruh baris yang nilai kolom A nya lebih kecil 5

0.3