# Pandas Week 13

# 49. Seleksi Kolom dengan f-String

In [2]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

1.1.3
1.1.3

In [3]:
#data frame prep
df=pd.read_csv('./datasets/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Seleksi kolom dengan f-String

In [6]:
#Contoh 1 sebelum 
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [15]:
#Contoh 1 sesudah
part = 'Width'
df[f'Sepal{part}Cm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [12]:
#contoh 2 sebelum
df[['PetalWidthCm','PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [13]:
#contoh 2 sesudah 
part = 'Petal'
df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

f-String digunakan untuk mengganti suatu bagian dari nama kolom seperti contoh diatas, untuk menyeleksi kolom

# 50. Membuat kolom baru dengan looping dan f-string

In [17]:
#import modules
import pandas as pd
import numpy as np 

#check Version
print(pd.__version__)
print(pd.__version__)

1.1.3
1.1.3

In [19]:
#data frame prep
d={'penjual': ['bejo', 'tejo', 'wati','bejo','cecep','tejo','wati','bejo'],
  'barang': ['monitor', 'monitor','keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df=pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

# Membuat kolom baru dengan looping dan f-string

In [26]:
#contoh
cols = ['penjual', 'barang']

for col in cols:
    df[f'count_tiap_{col}'] = df.groupby(col).cumcount()+1
df

  penjual    barang  count_tiap_penjual  count_tiap_barang
0    bejo   monitor                   1                  1
1    tejo   monitor                   1                  2
2    wati  keyboard                   1                  1
3    bejo     mouse                   2                  1
4   cecep  keyboard                   1                  2
5    tejo   monitor                   2                  3
6    wati    laptop                   2                  1
7    bejo   monitor                   3                  4